  <% #comments.each do |comment| 
%>
  <div id='comment'>
    <table style='width:100%;'>
      <tr style='width:100%;'>
        <td>
          <h2><%= comment.author %></h2>
        </td>
        <td id='links'>
          <%= link_to 'Edit', edit_comment_path(comment) %> 
          <%= link_to 'Delete', comment, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    </table>
    <p>
      <%= comment.details %>
    </p>
  </div>  
  <% #end 
%>