<title>TFoBH | Home</title>

<!-- <div id='home-feature' style='border-bottom: black 2px solid;'> -->
  <div id='background' style='position: absolute; left:0; padding-bottom:10px;'>
    <%= image_tag("boxhillhome3.jpg", :alt => "View from top of Box Hill") %>
  </div>

  <div style='position:relative; min-height: 309px;'>

    <h1>
      Home
    </h1>

    <div style='position: absolute; right: +0px; top: +0px;'>
      <div id='infobox'>
        <h1>A view worth seeing</h1>
        <p>Words can't truly explain the sight from the top of Box Hill, we find a picture works better!</p>
      </div>
      <div id='infobox'>
        <h1>Look pretty?</h1>
        <p>Click <%= link_to "here", contact_path %> to learn more about the beauty of Box Hill.</p>
      </div>
      <div id='infobox'>
        <h1>"I want more"</h1>
        <p>Great! Have a look around the rest of our site for more info on us and all we do.</p>
      </div>
    </div>

  </div>
<!-- </div> -->

<table id='main'>
  <tr>
    <td>
      <h2>A quick introduction</h2>
      <p>
        Box Hill is remarkable for many reasons, provides a powerful way to help you prove your point. When you click Online Video, you can paste in the embed code for the video you want to add.
      </p>
    </td>
    <td>
      <h2>Empowering you</h2>
      <p>
        Whether it's a challenge, a race, or just a leisurely walk, we know how amazing it feels to climb such an iconic landmark. We'll see you at the top!
      </p>
    </td>
    <td>
      <h2>Situated in Surrey</h2>
      <p> We're in North-East Surrey, not far from Guildford and just a couple miles from the M25. For instructions on how to get here just type 'Box Hill' into any route planner. See you soon.
      </p>
    </td>
  </tr>
</table>