div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#entryform {
  width: 40%;
  table {
    width: 100%;
  }
  td {
/*     padding-right:20px; */
    padding:5px; 
    vertical-align:middle;
  }
  input, textarea {
    border: #EEEEEE 2px solid;
    padding: 4px;
    width:100%;
    overflow:auto;
  }
  input:focus, textarea:focus {
    border: #00B050 2px solid;
    outline: none;
  }
  input {
    font-size:20px;
  }
  textarea {
    font-size:14px;
    height: 6em;
    font-family: 'Open Sans';
  }
}

#notice {
  color: #00B050;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}