<header>
  <div class='centered'>
    <table>
      <tr>
        <td>
          <%= link_to image_tag("logo.png", :alt => "logo"), home_path %>
        </td>
        <td>
          <h1>
            The Friends Of Box Hill
          </h1>
        </td>
      </tr>
    </table>
  </div>
</header>